<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>CourseManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>Home1.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginRegister.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>LoginRegister.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoadCoursesServlet</display-name>
    <servlet-name>AdminLoadCoursesServlet</servlet-name>
    <servlet-class>Admin.AdminLoadCoursesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoadCoursesServlet</servlet-name>
    <url-pattern>/AdminLoadCoursesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCourseServlet</display-name>
    <servlet-name>AddCourseServlet</servlet-name>
    <servlet-class>Admin.AddCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourseServlet</servlet-name>
    <url-pattern>/AddCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentCourseServlet</display-name>
    <servlet-name>StudentCourseServlet</servlet-name>
    <servlet-class>Student.StudentCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentCourseServlet</servlet-name>
    <url-pattern>/StudentCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherRegisteredCourseServlet</display-name>
    <servlet-name>TeacherRegisteredCourseServlet</servlet-name>
    <servlet-class>Teacher.TeacherRegisteredCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherRegisteredCourseServlet</servlet-name>
    <url-pattern>/TeacherRegisteredCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterCourseServlet</display-name>
    <servlet-name>RegisterCourseServlet</servlet-name>
    <servlet-class>Student.RegisterCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterCourseServlet</servlet-name>
    <url-pattern>/RegisterCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherRegisteredStudentsServlet</display-name>
    <servlet-name>TeacherRegisteredStudentsServlet</servlet-name>
    <servlet-class>Teacher.TeacherRegisteredStudentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherRegisteredStudentsServlet</servlet-name>
    <url-pattern>/TeacherRegisteredStudentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentListServlet</display-name>
    <servlet-name>StudentListServlet</servlet-name>
    <servlet-class>mydefault.StudentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentListServlet</servlet-name>
    <url-pattern>/StudentListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherListServlet</display-name>
    <servlet-name>TeacherListServlet</servlet-name>
    <servlet-class>mydefault.TeacherListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherListServlet</servlet-name>
    <url-pattern>/TeacherListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteCourseServlet</display-name>
    <servlet-name>AdminDeleteCourseServlet</servlet-name>
    <servlet-class>Admin.AdminDeleteCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteCourseServlet</servlet-name>
    <url-pattern>/AdminDeleteCourseServlet</url-pattern>
  </servlet-mapping>
</web-app>